node_modules
.github
*.tsx
tsconfig.node.json
web/frontend/src/*
test/*
**/test/*
web/backend/dist/test
tsconfig.tsbuildinfo
eslint.config.js
.env
.env.sample
CLAUDE.md
*.pb
**/tsconfig.json
web/frontend/vite.config.ts
web/frontend/vitest.config.ts
