.color-0 {
  stroke: #FA6221;  
  color: #FA6221;
}

.color-1 {
  stroke: #FEB928;
  color: #FEB928;
}

.background-color-0 {
  background: #FA6221;  
}

.background-color-1 {
  background: #FEB928;
}
