.color-0 {
  stroke: #C61BE2;  
  color: #C61BE2;
}

.color-1 {
  stroke: #FA6221;
  color: #FA6221;
}

.color-2 {
  stroke: #2192FA;
  color: #2192FA;
}

.background-color-0 {
  background: #C61BE2;
}

.background-color-1 {
  background: #FA6221;
}

.background-color-2 {
  background: #2192FA;
}