.color-0 {
  stroke: #44FFEC;  
  color: #44FFEC;
}

.background-color-0 {
  background: #44FFEC;
}

.color-1 {
  stroke: #2588E4;
  color: #2588E4;
}

.background-color-1 {
  background: #2588E4;
}


.color-2 {
  stroke: #C61BE2;
  color: #C61BE2;
}

.background-color-2 {
  background: #C61BE2;
}


.color-3 {
  stroke: #5A3CFF;
  color: #5A3CFF;
}

.background-color-3 {
  background: #5A3CFF;
}


.color-4 {
  stroke: #21FA90;
  color: #21FA90;
}

.background-color-4 {
  background: #21FA90;
}
